<ion-view title="Welcome to Reddit Viewer!">
    <ion-content padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <img src="img/redditLogo.png">
            
        </div>
        <div class="centeredTitle"><h1>Reddit Viewer</h1></div>
        <a href="#/page6" class="button button-stable button-block ">Get Started</a>
    </ion-content>
</ion-view>